<ul id="listing_items">
  <% @listingable.listings.each do |listing| %>
    <li>
      <h4><%= listing.name %></h4>
      <%= listing.description%>
      <%= image_tag listing.photo %>
    </li>
  <% end %>
</ul>
