<% @listingable.listings.each do |listing| %>
  <ul>
    <div class="well">
      <h4><%= listing.name %></h4>
      <%= listing.description%>
      <%= image_tag listing.photo %>
    <div>
  </ul>
<% end %>
