<h1><%= @listing.name %></h1>
<p><%= @listing.description %></p>
<%= image_tag @listing.photo %>

<p>Contact <strong><%= mail_to @user.email, @user.username, subject: "Interested in #{@listing.name} on Neighborhood Swap and Share", body: "" %></strong> if you want to swap for this item.<p>
