<div id="about">
  <h1>About</h1>

  <p>Raising kids is a life-changing adventure. It twists and turns with joy and sorrow, laughter and tears. It is an immensely rewarding and valuable experience. But let's face it, raising kids is also expensive.</p>

  <p>Our munchkins outgrow their things so fast. Clothes, toys, strollers, blankets - anything we provide for them, really! - are used so quickly and then forgotten as they move on to the next size or the next stage. Items in good condition end up collecting dust in the closet or the garage as we try to find the means to provide more things for our growing children.</p>

  <p>Many parents and caregivers are in the same boat, and they are probably in your neighborhood - maybe even just down the street. Wouldn’t it be great to connect with them to see if there are items that could be exchanged or shared? And if you would like to, you can choose to gift an item as well.</p>

  <p><strong>They say it takes a village to raise a child. So start here to find out who is in your neighborhood and help each other out.</strong></p>
</div>
