<h1>Portland Neighborhoods</h1>

<ul>
  <% @neighborhoods.each do |neighborhood| %>
    <li><%= neighborhood.name %> - <%= neighborhood.quadrant %><br>
    <%= link_to "Edit", edit_neighborhood_path(neighborhood) %> |
    <%= link_to "Delete", neighborhood_path(neighborhood), :data => {:confirm => "Are you sure you want to delete this neighborhood?", :method => "delete"} %></li>
  <% end %>
</ul>
