/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Rancho|Lato:400,400italic,700,700italic);

nav.navbar.navbar-default {
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 0;
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background: image-url('green_circles.jpg');
  background-size: cover;
}

h1 {
font-family: 'Rancho', cursive;
}

li {
  list-style-type: none;
}

a {
  color: #3cb371;
}

div.homepage {
  text-align: center;
}

div.homepage li {
  font-size: 1.5em;
}

#listing_items img {
  width: 250px;
  height: 250px;
}

div.item.active img {
  border-radius: 10px;
  width: 275px;
  height: 275px;
}

div.item img {
  border-radius: 10px;
  width: 275px;
  height: 275px;
}

div.carousel-caption {
  color: #636363;
}

div.caption-box {
  padding: 0;
  margin: 0 50px;
  background-color: #ffffff;
  border-radius: 10px;
  opacity:0.8;
  text-align: center;
}

div.transbox {
  padding: 1%;
  margin: 2% 10%;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 25px;
  opacity:0.8;
  text-align: center;
}
